* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.city {
  width: 100%;
  height: 450px;
  background-color: black;
  transition: 0.7s linear;
  margin-top: -4px;
  border-right: 170px solid black;
  border-left: 170px solid black;
}

.city:hover {
  cursor: pointer;
  padding: 20px;
}

.mondast-city {
  background: url(bg/mondast-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.liyue-city {
  background: url(bg/liyue-bg.jpg);
  background-position: center;
  background-size: cover;
}

.inazuma-city {
  background: url(bg/inazuma-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.sumeru-city {
  background: url(bg/sumeru-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
