* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.city {
  width: 100%;
  height: 450px;
  background-color: black;
  transition: 0.7s linear;
  margin-top: -4px;
}

.city:hover {
  cursor: pointer;
  padding: 20px;
}

.mondast-city {
  background: url(mondast-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.liyue-city {
  background: url(liyue-bg.jpg);
  background-position: center;
  background-size: cover;
}

.inazuma-city {
  background: url(inazuma-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.sumeru-city {
  background: url(sumeru-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
