* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: black;
}

.background {
  width: 100%;
  height: 100vh;
  background: url(bg/1297318.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 550px;
  background: url("bg/1297318.jpg") no-repeat;
  background: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 20px;
}

.container .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 58%;
  height: 100%;
  padding: 70px;
  background: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.content h2 {
  font-size: 50px;
  text-shadow: 1px 1px 2px black;
}

.text-sci h2 {
  font-size: 40px;
  line-height: 1;
}

.text-sci h2 span {
  font-size: 25px;
  margin-bottom: 10px;
}

.text-sci p {
  margin-bottom: 20px;
  font-style: italic;
}

.social-icon a i {
  color: white;
  margin-right: 20px;
  transition: 0.5s ease;
}

.social-icon a i:hover {
  transform: scale(1.5);
}

.container .logreg-box {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 58%);
  height: 100%;
  overflow: hidden;
}

.logreg-box .form-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(4px);
  color: aliceblue;
  border-radius: 10px;
  text-shadow: 1px 1px 2px black;
}

.logreg-box .form-box.login {
  transform: translateX(0);
  transition: transform 0.6s ease;
  transition-delay: 0.7s;
}

.logreg-box.active .form-box.login {
  transform: translateX(430px);
  transition-delay: 0s;
}

.logreg-box .form-box.register {
  transform: translateX(430px);
  transition: transform 0.6s ease;
  transition-delay: 0s;
}

.logreg-box.active .form-box.register {
  transform: translateX(0);
  transition-delay: 0.7s;
}

.form-box h2 {
  text-align: center;
  font-size: 32px;
  color: aliceblue;
}

.form-box .input-box {
  width: 300px;
  height: 50px;
  border-bottom: 2px solid aliceblue;
  margin: 20px 0;
  position: relative;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  padding-right: 30px;
  color: aliceblue;
  font-weight: 500;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s ease;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.icon {
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 19px;
}

.form-box .remember-forgot {
  font-size: 14.5px;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: white;
  margin-right: 3px;
}

.remember-forgot a {
  text-decoration: none;
  color: aliceblue;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.form-box .login-register {
  font-size: 14.5px;
  font-weight: 500;
  text-align: center;
  margin-top: 25px;
}

.login-register p a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}
